YKEFaturaEntegrasyon/Connected Services/LogoPostBoxService/PostBoxService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/eLogo.Core.SharedApi.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/eLogo.Core.SharedApi.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceVersionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApiVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseVersion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceVersionResult" nillable="true" type="tns:ServiceVersionResult" />
</xs:schema>