YKEFaturaEntegrasyon/Connected Services/EFaturaEDM/EFaturaEDM4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gib.gov.tr/vedop3/eFatura" elementFormDefault="qualified" targetNamespace="http://gib.gov.tr/vedop3/eFatura" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getAppRespRequest" type="tns:getAppRespRequestType" />
  <xs:complexType name="getAppRespRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="instanceIdentifier" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAppRespResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="applicationResponse" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getAppRespResponse" type="tns:getAppRespResponseType" />
</xs:schema>