YKEFaturaEntegrasyon/Connected Services/EFaturaEDM/EFaturaEDM2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" elementFormDefault="qualified" targetNamespace="urn:un:unece:uncefact:data:specification:CoreComponentTypeSchemaModule:2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BinaryObjectType">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="format" type="xs:string" />
        <xs:attribute name="mimeCode" type="xs:normalizedString" />
        <xs:attribute name="encodingCode" type="xs:normalizedString" />
        <xs:attribute name="characterSetCode" type="xs:normalizedString" />
        <xs:attribute name="uri" type="xs:anyURI" />
        <xs:attribute name="filename" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>